
* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif, serif;
    flex-wrap: wrap;
    border: 1px solid green;
}

body, html{
    margin: 0;
    padding: 0;
    width: 100%; 
    height: 100vh;
    background-color: rgb(233, 230, 230);
  }


.navBar {
    color: white;
    background: linear-gradient(#e66465, #9198e5);
    text-align: right;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.searchArea {
    background-color: lightblue;
}

#citySearchBtn {
    background-color: blueviolet;
    color: white;
}

.topResult {
    background-color: pink;
}


/* our media querys to handle when the page is too small and data does not fit. */
@media screen and (max-width: 1450px) {
    #repo-table {
        display: flex;
        flex-direction: column;
        max-width: 300px;
    }
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 16px;
    }
}

/* NOTES NOTES NOTES NOTES NOTES NOTES 
class="navBar"
<h1>Weather Dashboard

<main>
<section class="searchArea">
<div>
<h4>Search for a city:</h4>
<form>
<input type="text" id="cityInput" placeholder="Enter your City Here..."><br><br>
<button class="btn btn-danger" type="submit" id="citySearchBtn">Search</button>

<!-- We place the delete button in a different section so that we wont have to keep reloading it each time we generate the history buttons. -->
<div class="btn-group" role="group" aria-label="Search history" id="searchHistory"></div>
<button type="button" class="btn btn-danger col" id="deleteBtn">Delete Search History</button>


<!-- Top Results of Weather forecaset TODAY'S result -->
<section class="topResult">
<div id="currentWeather"></div>

<!-- 2nd section of the 5-day Results -->

<section class="remainingRslts flex-row justify-center align-center col-auto p-4 bg-light">
<div class="text-center pt-4">
<table class="card-body table mx-auto my-4">
<th><p class="my-4">5-Day Forecast:</p>
<tbody id="repo-table" class="mx-auto text-center">
 */
